<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4"
>
  <servlet>
    <servlet-name>Local port</servlet-name>
    <servlet-class>vn.mystories.tcp_source_port.web.DisplayLocalPort</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Local port</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>